In [37]:
import prody
pdbs = ["1ETS","1AUT","1HCG","1TPP","1PPF"]
pdbsatoms = []
for pdb in pdbs:
    pdbF = prody.fetchPDB(pdb)
    pdbsatoms.append(prody.parsePDB(pdbF))

@> PDB file is found in working directory (1ets.pdb.gz).
@> 3664 atoms and 1 coordinate set(s) were parsed in 0.04s.
@> PDB file is found in working directory (1aut.pdb.gz).
@> 3694 atoms and 1 coordinate set(s) were parsed in 0.03s.
@> PDB file is found in working directory (1hcg.pdb.gz).
@> 2449 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (1tpp.pdb.gz).
@> 1743 atoms and 1 coordinate set(s) were parsed in 0.02s.
@> PDB file is found in working directory (1ppf.pdb.gz).
@> 2518 atoms and 1 coordinate set(s) were parsed in 0.02s.

In [48]:
from biopandas.pdb import PandasPdb
pdbs = ["1ETS","1AUT","1HCG","1TPP","1PPF"]
pdbsatoms = []
for pdb in pdbs:
    ppdb = PandasPdb().fetch_pdb(pdb)
    print('PDB Header Line: %s' % ppdb.header)
    pdbsatoms.append(ppdb)

PDB Header Line:
PDB Header Line:
PDB Header Line:
PDB Header Line:
PDB Header Line:

In [29]:
pdbsatoms[0].df['ATOM']['chain_id'].unique()

array(['L', 'H'], dtype=object)

In [30]:
pdbsatoms[0].df['ATOM'].head()

  record_name  atom_number blank_1 atom_name alt_loc residue_name blank_2 chain_id  residue_number insertion blank_3  x_coord  y_coord  z_coord  occupancy  b_factor blank_4 segment_id element_symbol  charge  line_idx
0        ATOM            1                 N                  THR                L               1         H          -44.489   -6.962    8.807        0.0     62.52                                 N     NaN       655
1        ATOM            2                CA                  THR                L               1         H          -43.513   -7.173    9.845        0.0     62.50                                 C     NaN       656
2        ATOM            3                 C                  THR                L               1         H          -43.553   -5.850   10.591        0.0     62.42                                 C     NaN       657
3        ATOM            4                 O                  THR                L               1         H          -43.702   -4.822    9.927        0.0     62.45                                 O     NaN       658
4        ATOM            5                CB                  THR                L               1         H          -42.177   -7.404    9.109        0.0     62.55                                 C     NaN       659

In [47]:
pdbsatoms[0].df['ATOM'].getsequence()

AttributeError: 'DataFrame' object has no attribute 'getsequence'